.form-group {margin-bottom: 22px;}
.radius {border-radius:6px;}
.radius1 {border-radius:6px 0px 0px 6px;}
.form-control-feedback{background: #d9d9d9; left:0;}
.middle{text-align: center; padding-left: 34px}